// Entry point for your Sass build

.container {
  display: flex;
  justify-content: center;
  row-gap: 40px;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;

  &-title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 50px;
    color: #36006C;
  }

  &-description {
    max-width: 754px;
    font-family: 'Roboto';
    color: black;
    opacity: 0.54;
  }

  &-body {
    margin: 10vh 10vw;
    max-width: 754px;
    font-family: "Roboto";
    color: black;
    opacity: 0.54;
    display: flex;
    flex-direction: column;

    .form_item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      row-gap: 10px;

      .form__input {
        width: 200px
      }


      .button {
        all: unset;
        width: 150px;
        height: 30px;
        background-color: #36006C;
        border-radius: 5px;
        text-align: center;
        color: white;
      }

      &:last-child {
        display: flex;
        justify-content: center;
        margin-top: 2.5vh;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 400px;
  height: 550px;
  background: white;
  box-shadow: 0px 0px 40px #0000001A;
  border-radius: 5px;
  padding: 57px 70px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 32px;
    color: #36006C;
  }

  &__description {
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    opacity: 0.54;
  }

  &__error {
    color: tomato;
  }

  &__button {
    margin-top: 0;
    all: unset;
    width: 350px;
    height: 73px;
    background-color: #36006C;
    border-radius: 5px;
    text-align: center;
    color: white;
  }
}

